{% extends 'base.html' %} {% block content %}
<body class="detailsbody">
  <h1 id="detailstitle">Order Details</h1>
  <div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-content">
          <div class="{{ guide.name }}"></div>
          <span class="detailcardtitle">{{ guide.name }}</span>
        </div>
        <p class="detaildescription">{{guide.description|linebreaks}}</p>
        <p class="detaildescription">Price: ${{guide.price}}.00</p>
      </div>
    </div>
    <div class="col s6">
      <form class="orderform" method="POST" action="{% url 'create_order' guide.id %}">
        {% csrf_token %} {{ order_form.as_p }}
        <button id="detailbutton" type="submit">Save Order!</button>
      </form>
    </div>
</body>

  </div>
  <div class="col s6">
    <form method="POST" action="{% url 'orders_create' %}">
      <!-- guide.id
      'orders_index'  -->
      {% csrf_token %} {{ order_form.as_p }}
      <button type="submit">Save Order</button>
    </form>
  </div>
 

  <div class="col s6">
    <form action="{% url 'add_comment' guide.id %}" method="POST">
      {% csrf_token %} {{ comment_form.as_p }}
      <input type="submit" class="btn" value="Add Comment" />
    </form>
    <table class="striped">
      <thead>
        <tr>
          <th>UserName</th>
          <th>Date</th>
          <th>Comment</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for comment in guide.comment_set.all %}
        <tr>
          <td>{{user.username}}</td>
          <td>{{comment.date}}</td>
          <td>{{comment.review}}</td>
          <td><a href="{% url 'update_comment' guide_id=guide.id pk=comment.id %}">Edit</a></td>
          <td><a href="{% url 'delete_comment' guide_id=guide.id pk=comment.id %}">Delete</a></td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
