{% extends 'base.html' %} {% block content %}

<h1>Guide Details</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <div class="{{ guide.name }}"></div>
        <span class="card-title">{{ guide.name }}</span>
        <p>{{guide.description|linebreaks}}</p>
        <p>Price: {{guide.price}}</p>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form method="POST" action="{% url 'orders_create' %}">
      <!-- guide.id
      'orders_index'  -->
      {% csrf_token %} {{ order_form.as_p }}
      <button type="submit">Save Order</button>
    </form>
  </div>

  <div class="col s6">
    <form method="POST">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <input type="submit" class="btn" value="Add Comment">
    </form>
    <table class="striped">
      <thead>
        <tr><th>UserName</th><th>Date</th><th>Comment</th></tr>
      </thead>
      <tbody>
        {% for comment in guide.comment_set.all %}
          <tr>
            <td>{{comment.user}}</td>
            <td>{{comment.date}}</td>
            <td>{{comment.review}}</td>
            
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endblock %}
