/* .guidename plus width and height of the image */

.JavaScript {
  width: 100px;
  height: 100px;
  background-image: url("../images/JS.png");
  background-size: cover;
}

.Python {
  width: 100px;
  height: 100px;
  background-image: url("../images/Python.png");
  background-size: cover;
}

.HtmlCss {
  width: 100px;
  height: 100px;
  background-image: url("../images/Html-Css.png");
  background-size: cover;
}

.card {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 5%;
  display: grid;
  justify-content: center;
  padding-top: 3%;
}

.card * {
  margin: auto;
}

.cardscontainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.homecontent {
  background-color: #f5f2e2;
}

#hometitle {
  font-size: 80px;
  color: #023047;
  font-style: italic;
}

.hometitleslogan {
  text-align: center;
  margin-top: 20%;
  font-style: italic;
}

#homebutton {
  margin-top: 7%;
  background-color: #ffb703;
  height: 60px;
  border: 2px solid;
  border-color: #023047;
  border-radius: 4%;
  font-size: 25px;
  font-style: italic;
  color: #023047;
}

#homebutton > a {
  text-decoration: none;
  color: #f5f2e2;
}

#abouttitle {
  font-size: 80px;
  color: #023047;
  font-style: italic;
  text-align: center;
  margin-top: 15%;
  text-decoration: underline #ffb703;
}

.aboutcontent {
  background-color: #f5f2e2;
}

.aboutparagraphs {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  margin: 5%;
  margin-top: 7%;
}

#aboutbutton {
  margin-top: 7%;
  background-color: #023047;
  height: 60px;
  border: 4px solid;
  border-color: #ffb703;
  border-radius: 4%;
  font-size: 20px;
}

#aboutbutton > a {
  text-decoration: none;
  color: #f5f2e2;
}

.nav-wrapper {
  background-color: #023047;
}

.indexbody {
  background-color: #f5f2e2;
}

#indextitle {
  font-size: 80px;
  color: #023047;
  font-style: italic;
  margin-left: 5%;
  margin-top: 5%;
}

#logintitle {
  font-size: 25px;
  color: #ffb703;
  text-align: center;
  margin-left: 5%;
  margin-bottom: 15%;
}

.loginbody {
  background-color: #f5f2e2;
}

.loginbox {
  text-align: center;
  width: 50%;
  height: 50%;
  background-color: #023047;
  border: 4px solid;
  border-color: #ffb703;
  border-radius: 4%;
  margin-top: auto;
  margin: auto;
  margin-bottom: 10%;
  display: grid;
 justify-content:center;
}

#loginbtn {
  margin-top: 6%;
  background-color: #ffb703;
  height: 40px;
  width: 90px;
  border: 2px solid;
  border-color: #023047;
  border-radius: 4%;
  font-size: 15px;
  color: #023047;
}
